<div class="container my-5">
  <h1 class="mb-4">Quiz Open Trivia DB</h1>

  <div class="mb-3">
    <label class="form-label">Catégorie :</label>
    <select
      class="form-select"
      [(ngModel)]="selectedCategoryId"
      name="category"
    >
      <option [ngValue]="null">-- Choisir une catégorie --</option>

      @for (cat of categories; track cat.id) {
        <option [ngValue]="cat.id">
          {{ cat.name }}
        </option>
      }
    </select>
  </div>

  <div class="mb-3">
    <label class="form-label">Nombre de questions :</label>
    <input
      type="number"
      class="form-control"
      [(ngModel)]="amount"
      name="amount"
      min="1"
      max="20"
    />
  </div>

  <button
    class="btn btn-primary"
    (click)="startQuiz()"
    [disabled]="!selectedCategoryId || amount <= 0"
  >
    Démarrer un quiz
  </button>
</div>
